<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rionlabs.blubot.bl">

    <!-- Required for Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for discovery | FINE is only required above Android 9 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>